:root {
  --primary: #0000ff;
  --primary-hover: #0000cc;
  --primary-focus: #000066;
  --white: #fff;
  
  --background: #f8f8f8;
  --bg-disabled: #757575;

  --title: #0d131f;
  --medium: #658398;

  --line: #d1d5db;
  --placeholder: #C4C3C7;
  --btn-shadow: 0 0 0 4px rgba(0, 85, 255, 0.3);

  --error: #E02424;
}
